name: Publish


on:
  release:
    types:
      - released
  push:
    branches:
      - main


concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: false


jobs:
  update-version-changelog:
    if: github.event_name == 'release'
    uses: manytask/.github/.github/workflows/reusable-update-changelog-version.yml@main
    permissions:
      contents: write
    with:
      release_tag: ${{ github.event.release.tag_name }}
      release_target: ${{ github.event.release.target_commitish }}
      release_body: ${{ github.event.release.body }}
      release_url: ${{ github.event.release.html_url }}
    secrets:
      token: ${{ secrets.MANYTASK_SERVICE_PUSH_TOKEN }}

  release-python-package:
    if: github.event_name == 'release'
    needs: update-version-changelog
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/manytask-checker
    permissions:
      deployments: write
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: 3.11
        cache: 'pip' # caching pip dependencies
    - name: Install requirements for package build
      run: |
        python -m pip install -U wheel twine
    - name: Build python package
      run: |
        echo -n "${{github.ref_name}}" > VERSION
        python -m pip wheel . --no-deps --wheel-dir dist
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  release-github-pages:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: fetch gh-pages
        run: git fetch origin gh-pages:gh-pages
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: |
          python -m pip install -e .[docs]
      - name: Setup doc deploy
        run: |
          git config --global user.name Docs deploy
          git config --global user.email docs@dummy.bot.com
      - name: Docs deploy
        run: |
          if [ "${{ github.event_name }}" == "release" ]; then
            echo -n "${{github.ref_name}}" > VERSION
            make docs-deploy
          else
            echo -n "main" > VERSION
            make docs-deploy-main
          fi

  release-docker:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
      fail-fast: false
    uses: manytask/workflows/.github/workflows/reusable-docker-build-push.yml@main
    with:
      platforms: linux/amd64,linux/arm64
      tags: manytask/checker:${{ github.ref_name }}-python${{ matrix.python-version }}
      push: true
    secrets:
      registry_username: ${{ secrets.DOCKERHUB_USERNAME }}
      registry_password: ${{ secrets.DOCKERHUB_TOKEN }}
