# Common configuration settings for all course instances

FLASK_SECRET_KEY=

# google sheets
GDOC_URL=https://docs.google.com
GDOC_ACCOUNT_CREDENTIALS_BASE64=# check the README on how to generate your own google service account for spreadsheet API and put Base64 encoded key here
SHOW_ALLSCORES=true

# Set primary storage for scores and submissions (GSheets or DB)
STORAGE=gsheets

# Automatically apply all migrations on startup
# The same as create required database tables if they don't exist
APPLY_MIGRATIONS=true

# PostgreSQL connection URL in format: postgresql://user:password@host:port/database
DATABASE_URL=postgresql://postgres_user:postgres_password@postgres:5432/postgres_db

# Same format as DATABASE_URL, using for develop in alembic commands.
# Change this if you are using a database in a docker container.
# For example - postgresql://postgres_user:postgres_password@localhost:5432/postgres_db
DATABASE_URL_EXTERNAL= 