FLASK_SECRET_KEY=

# tokens
REGISTRATION_SECRET=
TESTER_TOKEN=

# gitlab
GITLAB_URL=https://gitlab.manytask.org
GITLAB_ADMIN_TOKEN=
GITLAB_COURSE_GROUP=[course-name]
GITLAB_COURSE_PUBLIC_REPO=[course-name]/public-[year]-[fall/spring]
GITLAB_COURSE_STUDENTS_GROUP=[course-name]/students-[fall/spring]-[year]
GITLAB_DEFAULT_BRANCH=main
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=

# google sheets
GDOC_URL=https://docs.google.com
GDOC_ACCOUNT_CREDENTIALS_BASE64=# (REMOVE THIS COMENT) check the README on how to generate your own google service account for spreadsheet API and put Base64 encoded key here
GDOC_SPREADSHEET_ID=1cRah9NC5Nl7_NyzttC3Q5BtrnbdO6KyaG7gx5ZGusTM
GDOC_SCOREBOARD_SHEET=0
SHOW_ALLSCORES=true

# Set primary storage for scores and submissions (GSheets or DB)
STORAGE=gsheets

# Automatically apply all migrations on startup
# The same as create required database tables if they don't exist
APPLY_MIGRATIONS=true

# PostgreSQL connection URL in format: postgresql://user:password@host:port/database
DATABASE_URL=postgresql://postgres_user:postgres_password@postgres:5432/postgres_db

# Same format as DATABASE_URL, using for develop in alembic commands.
# Change this if you are using a database in a docker container.
# For example - postgresql://postgres_user:postgres_password@localhost:5432/postgres_db
DATABASE_URL_EXTERNAL=

# Unique identifier for the course instance - used to separate data when multiple courses share a database
UNIQUE_COURSE_NAME="Python SHAD 2024"
