services:

    docs:
        build:
            context: .
            target: docs
        container_name: test-manytask-docs
        restart: always
        network_mode: bridge
        environment:
            VIRTUAL_HOST: localhost
            VIRTUAL_PORT: 80
            LETSENCRYPT_HOST: localhost
        ports:
            - "8080:80"
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
            interval: 1m
            timeout: 15s
            retries: 3
            start_period: 30s

    manytask:
        build:
            context: .
            target: app
        container_name: test-manytask
        network_mode: bridge
        env_file: .env
        environment:
            VIRTUAL_HOST: localhost
            VIRTUAL_PORT: 5050
            LETSENCRYPT_HOST: localhost
        ports:
            - "8081:5050"
        volumes:
            - ./manytask/:/app/manytask
            - .tmp/cache/:/cache
        links:
            - postgres:postgres

    postgres:
        image: postgres:17
        container_name: manytask_postgres
        network_mode: bridge
        env_file: .env
        expose:
            - "5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 5s
            timeout: 5s
            retries: 5

    gitlab:
        image: gitlab/gitlab-ce:latest
        container_name: manytask_gitlab
        restart: always
        hostname: gitlab
        environment:
            GITLAB_ROOT_PASSWORD: "changeme123!"
            GITLAB_OMNIBUS_CONFIG: |
                external_url 'http://localhost:8929'
                gitlab_rails['gitlab_shell_ssh_port'] = 8222
        ports:
            - "8929:8929"    # HTTP web UI
            - "8222:22"      # SSH (optional)
        volumes:
            - gitlab_config:/etc/gitlab
            - gitlab_logs:/var/log/gitlab
            - gitlab_data:/var/opt/gitlab

    gitlab-runner:
        image: gitlab/gitlab-runner:alpine
        container_name: manytask_gitlab_runner
        restart: always
        volumes:
            - gitlab_runner_config:/etc/gitlab-runner
            - /var/run/docker.sock:/var/run/docker.sock
        depends_on:
            - gitlab


volumes:
    postgres_data:
        name: manytask_postgres_data
    gitlab_config:
        name: manytask_gitlab_config
    gitlab_logs:
        name: manytask_gitlab_logs
    gitlab_data:
        name: manytask_gitlab_data
    gitlab_runner_config:
        name: manytask_gitlab_runner_config
