version: "3.8"


volumes:
    cache:
    solutions:
    acme:
        name: acme
    certs:
        name: certs
    vhost:
        name: vhost
    html:
        name: html
    conf:
        name: conf


services:
    nginx-proxy:
        image: nginxproxy/nginx-proxy:1.3.1
        container_name: nginx-proxy
        restart: always
        ports:
            - "80:80"
            - "443:443"
        environment:
            DHPARAM_SKIP: "true"
        volumes:
            - certs:/etc/nginx/certs:ro
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
            - /var/run/docker.sock:/tmp/docker.sock:ro
            - conf:/etc/nginx/conf.d

    acme-companion:
        image: nginxproxy/acme-companion:2.2.8
        container_name: nginx-proxy-acme
        restart: always
        environment:
            DEFAULT_EMAIL: no-reply@manytask.org
            NGINX_PROXY_CONTAINER: nginx-proxy
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - acme:/etc/acme.sh
            - certs:/etc/nginx/certs:rw
            - vhost:/etc/nginx/vhost.d:rw
            - html:/usr/share/nginx/html:rw

    docs:
        build:
            dockerfile: Dockerfile
            context: .
            target: docs
        container_name: manytask-docs
        restart: always
        network_mode: bridge
        expose:
            - "8080"
        environment:
            VIRTUAL_HOST: ${DOCS_VIRTUAL_HOST}
            VIRTUAL_PORT: 80
            LETSENCRYPT_HOST: ${DOCS_LETSENCRYPT_HOST}
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:5050/healthcheck" ]
            interval: 1m
            timeout: 15s
            retries: 3
            start_period: 30s

    manytask:
        # image: manytask/manytask:latest  # set SPECIFIC version you'll use
        build:
            dockerfile: Dockerfile
            context: .
            target: app
        container_name: manytask  # change this to your project name
        restart: always
        expose:
            - "5050"
        env_file: .env
        environment:
            VIRTUAL_HOST: manytask.org
            VIRTUAL_PORT: 5050
            LETSENCRYPT_HOST: manytask.org
            LETSENCRYPT_EMAIL: no-reply@manytask.org
        volumes:
            - cache:/cache
