# linters
flake8==7.0.0
ruff==0.2.1
mypy==1.8.0
isort==5.13.2
black==24.1.1

# stubs
types-requests==2.31.0.20240125
types-PyYAML==6.0.12.12

# testing
pytest==8.1.1
pytest-cov==4.1.0

# utils
pre-commit==3.6
