# api and web
gunicorn==20.1.0
flask==2.1.2
cachelib==0.6.0
Werkzeug==2.1.2

# api interaction (gitlab, google sheets)
gspread==5.3.2
python-gitlab==3.4.0

# utils
authlib==1.0.1  # 'gitlab oauth2' and 'gspread login'
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
