<!DOCTYPE html>
<html lang="">
  <head>
    <title>{% block title %}{{course_name}}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
          integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename=course_favicon) }}" />

    <meta name="robots" content="noindex">
  </head>
  <body class="home">
    {% block body %}
    {% endblock %}
  </body>
</html>
