<!DOCTYPE html>
<html lang="">
  <head>
    <title>{% block title %}{{course_name}}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
          integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename=course_favicon) }}" />

  </head>
  <body class="home">
    {% block body %}
    {% endblock %}
  </body>
</html>
