{% extends "base.html" %}

{% block body %}
<div class="site">
  <header class="header-container">

    {% block header %}
    {% set navbar = [
        ("/", "tasks", "Tasks"),
        (student_repo_url, "repo", "My Repo"),
        (student_ci_url, "submits", "Submits"),
        (gdoc_url, "gdoc", "GDoc"),
        (lms_url, "wiki", "LMS"),
        (telegram_channel_invite, "telegram-channel", "TG CHANNEL"),
        (telegram_chat_invite, "telegram-chat", "TG CHAT"),
        ("/logout", "logout", "Logout"),
    ] -%}
    {% set active_page = active_page|default("tasks") -%}

    <nav id="navmenu">
      <ul class="main-menu">
      <div>
          [ {{ username }} {{ '| admin' if is_course_admin }} ] #
      </div>
        {% for href, id, caption in navbar %}
            {% if href is not none and href|length > 0 %}
                <li>
                  <a href="{{ href }}"
                     class="{{ 'current' if id == active_page else '' }}">
                    {{ caption }}
                  </a>
                </li>
                {% if not loop.last %}<li>|</li>{% endif %}
            {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endblock %}
  </header>
  <main class="main">
    {% block content %}
    {% endblock %}
  </main>
</div>
{% endblock %}
