{% extends "base.html" %}

{% block body %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
    <h1>Manytask for this course is NOT ready</h1>
    <h3>You need configure it first with api request</h3>
    <h3>TODO: Or you have problems with incorrect course_name in cookies</h3>
    <hr>
    <p>You can update the page once it ready</p>
    <button onClick="window.location.reload()" class="btn btn-warning">Refresh</button>
</div>
{% endblock %}

