{% extends "layout.html" %}
{% set active_page = "tasks" -%}

{% block content %}
<div class="tooltip"><i class="fa fa-question-circle"></i> About the TASKS page
  <span class="tooltiptext">On this page you can see tasks you have; Green - solved, Purple - particularly solved, Blue - new</span>
</div>

{% for group in current_course.deadlines.open_groups %}
<div class="group {{ 'hw' if group.hw else '' }}">
  <div class="group-header">
      <h1 class="timer">
          <div>{{ group.name }}</div>
          <div class="deadline {{ 'passed' if group.deadline < now else '' }}">[100%: {{ group.pretty_deadline }} MSK]</div>
          {% if group.pretty_deadline != group.pretty_second_deadline %}
                <div class="deadline {{ 'passed' if group.second_deadline < now else '' }}">[ 50%: {{ group.pretty_second_deadline }} MSK]</div>
          {% endif %}
      </h1>
  </div>
  <div class="group-tasks">
    {% set MAX_TASK_LENGTH = 16 %}
    {% for task in group.tasks %}
    <a href="{{ task_base_url }}/{{ group.name }}/{{ task.name }}/">
      <div class="task {{ ('solved' if scores.get(task.name) >= task.score else 'solved_partially') if scores.get(task.name, '-') != '-' else 'unsolved' }}">
        <div class="name">{{ task.name if (task.name | length <= MAX_TASK_LENGTH) else task.name[:MAX_TASK_LENGTH-1] + '…' }}</div>
        <div class="score">{{ scores.get(task.name, '0') }}/{{ task.score }}</div>
        <div class="reviews">
            {% if task_reviews.get(task.name, '-') != '-' %}
{#                <p>{{ task_reviews.get(task.name) }}</p>#}
                <div id="reviews_{{ task.name }}"></div>

                <script>
                var layout = {
                    autosize: false,
                    height: 40+10,
                    width: 220,
                    showlegend: false,
                    paper_bgcolor: 'rgba(0,0,0,0)',
                    plot_bgcolor: 'rgba(0,0,0,0)',
                    margin: {
                        t: 0, r: 5, b: 10, l: 5,
                    },
                    font: {
                        size: 8,
                    },
                    xaxis: {
                        {#tickvals: [{{ task.score }}],#}
                        {#ticktext: [{{ task.score }}],#}
                    },
                    yaxis: {
                        autorange: true,
                        showgrid: false,
                        zeroline: false,
                        showline: false,
                        autotick: true,
                        ticks: '',
                        showticklabels: false
                    },
                    shapes: [{
                        type: 'line',
                        x0: '{{ task.score }}',
                        y0: 0,
                        x1: '{{ task.score }}',
                        yref: 'paper',
                        y1: 1,
                        line: {
                          color: 'grey',
                          width: 1.5,
                          dash: 'dot'
                        }
                    }],
                };

                var x = {{  task_reviews.get(task.name) }};

                var trace = {
                    x: x,
                    type: 'histogram',
                    marker: {
                        color: 'rgba(50,153,222,0.5)',
                    },
                };

                var data = [trace];
                Plotly.newPlot('reviews_{{ task.name }}', data, layout, {staticPlot: true});
                </script>
            {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
