permissions:
  contents: read
name: Deploy

on:
  push:
    branches: [ main ]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@91f3272fc5907f4699dcf59761eb622a07342f5a
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /srv/manytask/app_deploy
          sudo git pull origin main
          sudo docker compose -f docker-compose.development.yml up --build --force-recreate -d
