name: Publish

on:
  release:
    types:
      - created


jobs:
  update-version-and-chengelog-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.repository.default_branch }}
      - name: Setup git
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
      - name: Update version file
        run: |
          echo "Update version to ${{github.ref_name}}"
          echo "${{github.ref_name}}" > VERSION
      - name: Update changelog file
        run: |
          # TODO: update CHANGELOG.md with release notes
          echo "Update CHANGELOG to ${{github.ref_name}}"
      - name: Commit updated files
        run: |
          git add VERSION CHANGELOG.md
          git commit -m "chore: auto version and changelog update (${{ github.ref_name }})"
          git push origin
      - name: Tag new commit
        run: |
          git tag --force ${{ github.ref_name }}
          git push origin ${{ github.ref_name }} --force

  release-docker:
    needs: update-version-and-chengelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref_name }}
      - name: Login to docker registry
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCR_JSON_KEY }}
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: {{defaultContext}}:docker
          push: true
          tags: | 
            manytask:${{ github.ref_name }}
            manytask:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#cache-backend-api


#  release-github-pages:
#    needs: update-version-and-changelog-files
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#        with:
#          ref: ${{ github.ref_name }}
#      - name: Setup Python 3.9
#        uses: actions/setup-python@v2
#        with:
#          python-version: 3.9
#      - uses: actions/cache@v2
#        with:
#          path: ${{ env.pythonLocation }}
#          key: ${{ runner.os }}-python-3.9-${{ env.pythonLocation }}-${{ hashFiles('requrements.txt', 'requrements.test.txt') }}-docs
#          restore-keys: |
#            ${{ runner.os }}-python-3.9-
#            ${{ runner.os }}-python-
#            ${{ runner.os }}-
#      - name: Install dependencies
#        run: python -m pip install -e .[docs]
#      - name: Build and publish docs
#        run: |
#          git fetch --all
#          # lazydocs
#          python -m mkdocs build --config-file docs/mkdocs.yml
#          python -m mkdocs gh-deploy --config-file docs/mkdocs.yml --force
