name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
      
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
        
      - name: Run ruff format
        run: poetry run ruff format --check .
        
      - name: Run ruff check
        run: poetry run ruff check .
        
      - name: Run mypy
        run: poetry run mypy manytask
        
      - name: Run tests
        run: poetry run pytest

  build-docker:
    needs: test
    uses: manytask/workflows/.github/workflows/reusable-docker-build-push.yml@main
    with:
      tags: manytask:${{ github.sha }}
