name: Lint and Test

on:
  push:
  pull_request:
    branches: [ main ]


jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: |
          python -m pip install -U -r requirements.txt -r requirements.test.txt
      - name: Run isort
        run: python -m isort manytask --check
      - name: Run flake8
        run: python -m ruff manytask
      - name: Run mypy
        run: python -m mypy manytask

  test-python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: |
          python -m pip install -U -r requirements.txt -r requirements.test.txt
      - name: Run tests
        run: python -m pytest --cov-report term-missing --cov=manytask --cov-report=xml tests/
      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  # not required for public repos
          files: coverage.xml
          flags: unittests  # optional
          fail_ci_if_error: true  # optional (default = false)
          verbose: true  # optional (default = false)

  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Test Build Docker
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: | 
            manytask/manytask:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#cache-backend-api
